body {
  background-image: url("../images/derezzball_bg_3.png");
  background-size: cover;
  background-position: 50%;
}

html {
  height: 100vh;
  overflow: hidden;
}

canvas {
  margin: 0 auto;
  display: block;
  border: 2px solid yellow;
  box-shadow: inset 0px 0px 24px yellow;
  position: relative;
}

.title {
  display: block;
  font-family: 'open sans', sans-serif;
  font-size: 48px;
  color: #161622;
  text-shadow: -2px 2px yellow;
  text-align: center;
  width: 500px;
  min-width: 450px;
  margin: 24px auto;
  animation: shadow 2s;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 1s;
      -webkit-animation-duration: 2s;
  -moz-animation: shadow 2s;
}

@-webkit-keyframes shadow {
    0%    { text-shadow:  2px  2px #cbecf5;}
    25%   { text-shadow: -2px -2px yellow;  }
    75%   { text-shadow:  2px -2px #cbecf5; }
    100%  { text-shadow: -2px  2px yellow;  }
}

.home-page-link {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(380px);
}

.profile-pic {
  width: 50px;
  border: 3px solid #b9eaf6;
  border-radius: 5px;
  z-index: 1;
  transition: border .24s ease-in-out;
    -moz-transition: border .24s ease-in-out;
    -webkit-transition: border .24s ease-in-out;
  transition: box-shadow .24s ease-in-out;
    -moz-transition: box-shadow .24s ease-in-out;
    -webkit-transition: box-shadow .24s ease-in-out;
  animation: slide-down-glow 7.2s;
    -webkit-animation-name: slide-down-glow;
      -webkit-animation-delay: 0s;
        -webkit-animation-duration: 7.2s;
    -moz-animation: slide-down-glow 7.2s;
}


@-webkit-keyframes slide-down-glow {
  0%   { transform: translate(0%, -888%); }
  30%  { transform: translate(0%, -888%); }
  60%  { transform: translate(0%, 0%);    }
  61%  { border: 3px solid #b9eaf6;       }
  62%  { border: 3px solid yellow;        }
  70%  { box-shadow: 0px 0px 0px #cbecf5; }
  80%  { box-shadow: 0px 0px 20px #cbecf5;}
  80%  { border: 3px solid yellow;        }
  100% { box-shadow: 0px 0px 0px #cbecf5; }
}

.profile-pic:hover {
  border: 3px solid yellow;
  box-shadow: 0px 0px 20px #cbecf5;
}

.github-wrapper {
  position: absolute;
  top: 221px;
  left: 50%;
  transform: translateX(381px);
}

.fa-github-square {
  font-size: 63px;
  color: #b9eaf6;
  text-decoration: none;
  transition: color .24s ease-in-out;
    -moz-transition: color .24s ease-in-out;
    -webkit-transition: color .24s ease-in-out;
  transition: text-shadow .24s ease-in-out;
    -moz-transition: text-shadow .24s ease-in-out;
    -webkit-transition: text-shadow .24s ease-in-out;
  animation: slide-down-glow-1 10s;
    -webkit-animation-name: slide-down-glow-1;
      -webkit-animation-delay: 0s;
        -webkit-animation-duration: 10s;
    -moz-animation: slide-down-glow-1 10s;
}

@-webkit-keyframes slide-down-glow-1 {
  0%   { transform: translate(0%, -888%);  }
  0%   { color: transparent;               }
  60%  { color: transparent;               }
  61%  { color: #b9eaf6;                   }
  62%  { transform: translate(0%, -120%);  }
  90%  { transform: translate(0%, 0%);     }
  90%  { color: yellow;                    }
}

.fa-github-square:hover {
  color: yellow;
  text-shadow: 0px 0px 3px #cbecf5;
}

.linkedin-wrapper {
  position: absolute;
  top: 295px;
  left: 50%;
  transform: translateX(381px);
}

.fa-linkedin {
  font-size: 63px;
  color: #b9eaf6;
  text-decoration: none;
  transition: color .24s ease-in-out;
    -moz-transition: color .24s ease-in-out;
    -webkit-transition: color .24s ease-in-out;
  transition: text-shadow .24s ease-in-out;
    -moz-transition: text-shadow .24s ease-in-out;
    -webkit-transition: text-shadow .24s ease-in-out;
  animation: slide-down-glow-2 10s;
    -webkit-animation-name: slide-down-glow-2;
      -webkit-animation-delay: 0s;
        -webkit-animation-duration: 10s;
    -moz-animation: slide-down-glow-2 10s;
}

@-webkit-keyframes slide-down-glow-2 {
  0%   { transform: translate(0%, -888%);  }
  0%   { color: transparent;               }
  60%  { color: transparent;               }
  61%  { color: #b9eaf6;                   }
  61%  { transform: translate(0%, -234%);  }
  90%  { transform: translate(0%, 0%);     }
  90%  { color: yellow;                    }
}

.fa-linkedin:hover {
  color: yellow;
  text-shadow: 0px 0px 3px #cbecf5;
}

.joey {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  width: 490px;
  min-width: 490px;
  margin: 14px auto;
  font-size: 12px;
  color: #b9ecff;
  text-shadow: 0px 0px 4px #0081b1;
}

#derezzball {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: orange;
  position: absolute;
  width: auto;
  text-align: center;
  visibility: hidden;
  transform: translateX(-133px);
  animation: shadow 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 0s;
      -webkit-animation-duration: .800s;
  -moz-animation: shadow 2s;
}
#speedup {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: orange;
  position: absolute;
  width: 400px;
  text-align: center;
  visibility: hidden;
  transform: translateX(-200px);
  animation: shadow 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 0s;
      -webkit-animation-duration: .800s;
  -moz-animation: shadow 2s;
}
#sharp {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: orange;
  position: absolute;
  width: auto;
  text-align: center;
  visibility: hidden;
  transform: translateX(-65px);
  animation: shadow 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 0s;
      -webkit-animation-duration: .800s;
  -moz-animation: shadow 2s;

  top: 0px;
}
#crazy {
  font-family: 'Press Start 2P', cursive;
  font-size: 88px;
  color: orange;
  position: absolute;
  width: 500px;
  text-align: center;
  top: 463px;
  left: 50%;
  transform: translate(-251px, -221px);
  animation: shadow 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 0s;
      -webkit-animation-duration: .800s;
  -moz-animation: shadow 2s;
}

#derezzed {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: orange;
  position: absolute;
  width: 380px;
  border: 1px solid red;
  text-align: center;
  left: 0px;
  visibility: hidden;
  animation: shadow 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shadow;
    -webkit-animation-delay: 0s;
      -webkit-animation-duration: .800s;
  -moz-animation: shadow 2s;
}
