body {
	/* background-color: black; */
  background-image: url("../images/derezzball_bg_3.png");
  background-size: auto;
  background-position: bottom;
}

html {
  height: 100vh;
  overflow: hidden;
}

.game-screen {
  width: 60%;
  height: 60%;
}

canvas {
  top: 24px;
  width: 888px;
  height: 888px;
  margin: 0 auto;
  display: block;
  border: 2px solid yellow;
  box-shadow: inset 0px 0px 24px yellow;
}

.title {
  display: block;
  font-family: 'open sans', sans-serif;
  font-size: 48px;
  color: #161622;
  text-shadow: -2px 2px yellow;
  margin: 24px auto;
  text-align: center;
  flex-shrink: 0;
  width: 500px;
  min-width: 500px;
}

.joey {
  font-family: 'open sans', sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
  color: #b9ecff;
  text-shadow: 0px 0px 8px #0081b1;
  transform: translateX(267px);
}
